<% @search_users_for_collaborations.each do |user| %>
  <li>
    <a href="#">
      <em>
      <% if user.image.present? %>
        <%= image_tag(user.image) %>
      <% else %>
        <%= image_tag "avatar.png" %>
      <% end %>
      </em>         
      <%= user.name %>
      <span><%= user.instrument_1 %></span>
    </a>
    <div class="bt_add">
      <%= link_to 'Add Collaborator', create_collaborator_path(:user_id => user.id, :song_room_id => @song_room), :method => 'post', :class => "bt_add" %>
    </div>
  </li>
<% end %>