<li id="two" class="mail">
  <a href="#two" class="a_header">Collaborators<span><%= @collaborators.count %></span></a>
  <ul class="sub-menu">
    <% @collaborators.each do |collaborator| %>
      <li>
        <a href="#">
          <em>
          <% if collaborator.user.image.present? %>
            <%= image_tag(collaborator.user.image) %>
          <% else %>
            <%= image_tag "avatar.png" %>
          <% end %>
          </em>
          <%= collaborator.user.name %>
          <span><%= collaborator.user.instrument_1 %></span>
        </a>
        <div class="bt_del">
          <%= link_to 'Destroy', delete_collaborator_path(@song_room, collaborator), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
  </ul>
</li>