<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song_room.title %>
</p>

<p>
  <b>Description:</b>
  <%= @song_room.description %>
</p>

<%= form_for [@song_room, @create_collaborator] do |f| %>
  	<%= f.collection_select :user_id, @users, :id, :username %>
	<%= f.hidden_field :song_room_id %>
	<%= f.submit "Add Collaborator" %>
<% end %>


<% @collaborators.each do |collaborator| %>
  <% if collaborator.accepted? %>
	  <%= link_to "#{collaborator.user.name}", user_path(collaborator.user.id) %>
  <% end %>
<% end %>

<% if current_user.id = @song_room.user_id %>
<%= link_to 'Edit', edit_song_room_path(@song_room) %> |
<% end %>
<%= link_to 'Back', :back %>

<%= form_for(@song_room_song_version) do |f| %>
  <%= f.file_field :song_version_upload %>
  <%= f.hidden_field :song_room_id %>
  <%= f.hidden_field :user_id %>
<%= f.submit "Add Song" %>
<% end %>


<ul>
<% @song_room_song_versions.each do |song| %>
  <li><%= link_to "#{song.song_version_upload_file_name}", song_room_song_version_path(song) %></li>
  <li><a href="<%= download_path(song) %>">Download</a></li>
<% end %>
</ul>
<%#= link_to 'Add A Collaborator', new_song_room_collaborator_path(@song_room) %>
