<header class="main_menu clearfix">
  <a href="index.html" title="Back to homepage">
    <!-- <img src="logo.png" alt="Logo" class="logo fleft" /> -->
    <%= image_tag "logo.png", :class => "logo fleft" %>
  </a>
  <div id="room_info" class="fleft">
    <h1 class="room_title"><%= @song_room.title %></h1>
    <p class="room_tags"><%= @song_room.description %></p>
  </div>
  <div class="user">
      <img src="" />
      <h5><%= current_user.name %></h5>
      <ul>
        <li><%= link_to "View Profile", user_path(current_user) %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <li class="sep">Joined: March 9, 2012</li>
      </ul>
  </div>
  <nav class="room_nav fright">
    <ul class="dinline">
      <li class="fleft mright">
        
      </li>
      <li class="fleft mmiddle mright mleft pleft"><a href="#" class="icon-pq-settings" title="Room eettings">Settings</a></li>
      <li class="fleft mmiddle mright mleft pleft"><a href="#" class="icon-pq-exit" title="Leave the room">Exit</a></li>      
    </ul>
    
  </nav>
</header>

<section class="app">
  <aside class="side">
    <a href="index.html" class="add" title="Upload a track"><i class="upload">Upload Track</i></a>
    <%= form_for(@song_room_song_version) do |f| %>
      <%= f.file_field :song_version_upload %>
      <%= f.hidden_field :song_room_id %>
      <%= f.hidden_field :user_id %>
      <%= f.submit "Add Song" %>
    <% end %>
    
    <ul class="tabs">
      <% @song_room_song_versions.each do |song| %>
      
				<li class="active">
  				<div class="a">
  				  <div id="jquery_jplayer_<%= song.id%>" class="jp-jplayer"></div>
            <div id="jp_container_<%= song.id%>" class="jp-audio">
        			<div class="jp-type-single">
        			 <div class="jp-title">
        					<ul>
        						<li><strong>Silvia Rivera:</strong> New Beat</li>
        					</ul>
        				</div>
        				<div class="jp-gui jp-interface">
        					<ul class="jp-controls">
        						<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
        						<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
        					</ul>
        					<div class="jp-progress">
        						<div class="jp-seek-bar">
        							<div class="jp-play-bar"></div>
        						</div>
        					</div>
        					<div class="jp-time-holder">
        						<div class="jp-current-time"></div>
        						<div class="jp-duration"></div>
        					</div>
        					<!--
<a href="<%= download_path(song) %>" class="jp-download">
        					 <div class="jp-download"></div>
        					</a>
-->
        				   <%= link_to "Download", download_path(song), :class => "jp-download" %> 

        				</div>
        				<div class="jp-no-solution">
        					<span>Update Required</span>
        					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        				</div>
        			</div>
        		</div>

  				</div>
				</li>
		  <% end %>
    </ul>
  </aside>
  <section class="main main_open">
		  <article class="chat">
		    <textarea></textarea>
		    <input type="submit" id="send" value="Send message">
		  </article>
  </section>
  <section class="info info_open">
    <ul class="accordion">
      <% if current_user.id = @song_room.user_id %>
  			<li id="one" class="files">
  				<a href="#one" class="a_header">Room Settings</a>
  				<ul class="sub-menu">
  				  <li class="room_settings">
    					<%= render "song_rooms/form" %> 
  				  </li>
  				</ul>
  			</li>
  		<% end %>
			<li id="two" class="mail">
				<a href="#two" class="a_header">Collaborators<span>4</span></a>
				<ul class="sub-menu">
				  <% @collaborators.each do |collaborator| %>
            <li>
              <% if collaborator.accepted? %>
                <%= link_to "#{collaborator.user.name}", user_path(collaborator.user.id) %>
              <% end %>
              <a href="#">
                <em><img src="img/pic4.png"></em>John Malcon<span>Guitar</span>
              </a>
            </li>
          <% end %>
            <li class="search_box">
              <%= form_for [@song_room, @create_collaborator] do |f| %>
                <%= f.collection_select :user_id, @users, :id, :username %>
                <%= f.hidden_field :song_room_id %>
                <%= f.submit "Add Collaborator" %>
              <% end %>
              
              <% if user_signed_in? %>
                <%= render 'layouts/search_form' %>
              <% end %>
            </li>
				</ul>
    </ul>
  </section>
</section>


<p id="notice"><%= notice %></p>




<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
  
    <% @song_room_song_versions.each do |song| %>
    	$("#jquery_jplayer_<%= song.id%>").jPlayer({
    		ready: function () {
    			$(this).jPlayer("setMedia", {
    				mp3: "<%= download_url(song) %>"
    			});
    		},
    		play: function() { // To avoid both jPlayers playing together.
    			$(this).jPlayer("pauseOthers");
    		},
    		swfPath: "js",
    		supplied: "mp3",
    		cssSelectorAncestor: "#jp_container_<%= song.id%>"
    	});
    <% end %>
    	
  	// TEXTAREA FOCUS //
  	$('textarea').focus(function() {
    	$(this).animate({ height:60 });
    });
    $('textarea').focusout(function() {
    	$(this).animate({ height:25 });
    });
    
    // MENU RIGHT //
    function div_toggle(){
      $('.main').toggleClass('main_open', 500);
      $('.info').toggleClass('info_open', 500);
    }
    $('.icon-pq-settings').click(function() {
      div_toggle();
      event.preventDefault();
    });
    $('.icon-pq-people').click(function() {
      div_toggle();
      event.preventDefault();
    });
    
    
    // ACCORDION //
    // Store variables
    var accordion_head = $('.accordion > li > a'),
        accordion_body = $('.accordion li > .sub-menu');

    // Open the first tab on load
    accordion_head.last().addClass('active').next().slideDown('normal');

    // Click function
    accordion_head.on('click', function(event) {
        // Disable header links 
        event.preventDefault();

        // Show and hide the tabs on click
        if ($(this).attr('class') != 'active'){
            accordion_body.slideUp('normal');
            $(this).next().stop(true,true).slideToggle('normal');
            accordion_head.removeClass('active');
            $(this).addClass('active');
        }
    });

  });
  //]]>
</script>