<% content_for :head do %>
  <%= stylesheet_link_tag 'login' %>
  <%= javascript_include_tag 'jquery.placeholder.min' %>
<% end %>

<section class="main">
	<%= form_for(resource, :as => resource_name, :html => { :class => "form-1"}, :url => session_path(resource_name)) do |f| %>
	
	  <div class="other tcenter">
    <%= link_to content_tag(:span, 'Sign in with Facebook' ), user_omniauth_authorize_path(:facebook), :class => "facebook" %>
    <%= image_tag "login-or.png" %>
  </div>
		<p class="field">
		  <%= f.email_field :email, placeholder: "Email" %>
			<i class="icon-user icon-large"></i>
		</p>
			<p class="field">
			  <%= f.password_field :password, placeholder: "Password" %>
				<i class="icon-lock icon-large"></i>
		</p>
		<p class="submit">
		  <%= f.submit "Sign in", class: "button" %>
		  <!-- <i class="bt icon-arrow-right icon-large"></i> -->
		</p>
		
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>
		
	<% end %>
	<p class="forgot tcenter"><%= render "devise/shared/links" %></p>
</section>